# Operating System files
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/
*.suo
*.user
*.sln
*.ide
/desktop-app
/PressFlowMobile
/uml diagrams
/node_modules
# Root .gitignore
/client/node_modules/
/server/node_modules/
/client/build/

# Environment Variables
.env
client/.env
backend/.env # Or server/.env