name: Artifact Account Setup
## This workflow will setup and configure the "Artifact AWS Account". 
# This account holds all build artifacts for the application.

on:
  push:
    branches: [ "main" ]
    paths: 
      - "cd/artifact-account/**"
      - ".github/workflows/artifact-account.yaml"

permissions:
  id-token: write
  contents: read

jobs:
  ConfigureMainAccount:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      # Install awscli
      - uses: unfor19/install-aws-cli-action@v1

      # Install yq for YAML parsing.
      - uses: mikefarah/yq@v4.44.3
        with:
          cmd: yq -V

      - name: Read the account ID of the Artifact account
        id: read_artifact_account_id
        run: |
          ARTIFACT_ACCOUNT_ID=$(yq eval '.aws_account_id' cd/artifact-account/config.yaml)
          echo "Artifact Account ID: $ARTIFACT_ACCOUNT_ID"
          echo "::set-output name=artifact_account_id::$ARTIFACT_ACCOUNT_ID"

      # Configure AWS credentials using OIDC
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ steps.read_artifact_account_id.outputs.artifact_account_id }}:role/deploy

      - name: Configure Artifact Account (CloudFormation)
        env:
          GIT_REPOSITORY_NAME: ${{ github.repository }}
        run: |
          # Derive ProjectId from the GitHub repo name (lowercased)
          PROJECT_ID=$(basename "$GIT_REPOSITORY_NAME" | tr '[:upper:]' '[:lower:]')

          cf_template_file='./cd/artifact-account/cloudformation-template.yaml'
          stack_name="artifact-account-setup-${PROJECT_ID}"
          ECR_REPOSITORY_NAME=$(echo "$GIT_REPOSITORY_NAME" | tr '[:upper:]' '[:lower:]')
          environment_account_ids=$(yq e -o csv '.environment_account_ids' cd/artifact-account/config.yaml)
          
          
          echo "Deploying Artifact Stack for project: $PROJECT_ID"
          aws sts get-caller-identity
          
          aws cloudformation deploy \
            --template-file "$cf_template_file" \
            --parameter-overrides \
                EnvironmentAccountIds="$environment_account_ids" \
                ProjectId="$PROJECT_ID" \
            --stack-name "$stack_name" \
            --no-fail-on-empty-changeset
