name: Deploy a Single Environment

on:
  workflow_call:
    inputs:
      envId:
        description: "The environment id (e.g., dev, testing, prod)"
        required: true
        default: "dev"
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  deploy_environment:
    name: Deploy Environment
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          ref: main

      - uses: mikefarah/yq@v4.44.3
        with:
          cmd: yq -V

      # Read Artifact Account ID
      - name: Read the account id of the Artifact account
        id: read_artifact_account_id
        run: |
          ARTIFACT_ACCOUNT_ID=$(yq eval '.aws_account_id' cd/artifact-account/config.yaml)
          echo "artifact_account_id=$ARTIFACT_ACCOUNT_ID" >> $GITHUB_OUTPUT

      # Assume Artifact Account role to read S3 paths
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ steps.read_artifact_account_id.outputs.artifact_account_id }}:role/deploy

      - name: Get Release Configuration
        id: get_release_config
        run: |
          ENV_ID="${{ inputs.envId }}"
          PROJECT_ID=$(yq e '.[] | .projectName' ./cd/environments.yaml | head -n1)
          TARGET_REF=$(yq e ".[] | select(.envId == \"$ENV_ID\") | .gitRefName" ./cd/environments.yaml)
          HOSTED_ZONE_ID=$(yq e '.[] | .hostedZoneId' ./cd/environments.yaml | head -n1)

          DOMAIN_NAME=$(yq e ".[] | select(.envId == \"$ENV_ID\") | .domainName" ./cd/environments.yaml)
          ENV_AWS_ACCOUNT_ID=$(yq e ".[] | select(.envId == \"$ENV_ID\") | .awsAccountId" ./cd/environments.yaml)

          INFRA_BUCKET=$(aws cloudformation describe-stacks \
            --stack-name "artifact-account-setup-${PROJECT_ID}" \
            --query "Stacks[0].Outputs[?OutputKey=='InfraArtifactsBucket'].OutputValue" \
            --output text)

          # Read client/server S3 artifact paths from SSM
          CLIENT_S3_KEY=$(aws ssm get-parameter \
            --name "/build-artifact/${PROJECT_ID}/client/${TARGET_REF}" \
            --query "Parameter.Value" --output text)
          SERVER_S3_KEY=$(aws ssm get-parameter \
            --name "/build-artifact/${PROJECT_ID}/server/${TARGET_REF}" \
            --query "Parameter.Value" --output text)

          echo "project_id=$PROJECT_ID" >> $GITHUB_OUTPUT
          echo "target_ref=$TARGET_REF" >> $GITHUB_OUTPUT
          echo "domain_name=$DOMAIN_NAME" >> $GITHUB_OUTPUT
          echo "environment_aws_account_id=$ENV_AWS_ACCOUNT_ID" >> $GITHUB_OUTPUT
          echo "infra_bucket_name=$INFRA_BUCKET" >> $GITHUB_OUTPUT
          echo "client_s3_key=$CLIENT_S3_KEY" >> $GITHUB_OUTPUT
          echo "server_s3_key=$SERVER_S3_KEY" >> $GITHUB_OUTPUT
          echo "hosted_zone_id=$HOSTED_ZONE_ID" >> $GITHUB_OUTPUT

      # Assume target environment role for deployment
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ steps.get_release_config.outputs.environment_aws_account_id }}:role/deploy

      - name: Deploy Environment via CloudFormation
        run: |
          ENV_ID="${{ inputs.envId }}"
          PROJECT_ID="${{ steps.get_release_config.outputs.project_id }}"
          STACK_NAME="deploy-${ENV_ID}-${PROJECT_ID}"
          INFRA_BUCKET="${{ steps.get_release_config.outputs.infra_bucket_name }}"
          RELEASE_HASH=$(aws ssm get-parameter --name "/build-artifact/${PROJECT_ID}/infra/${{ steps.get_release_config.outputs.target_ref }}" --query "Parameter.Value" --output text)

          CF_TEMPLATE_FILE=$(mktemp)
          S3_TEMPLATE_URL="s3://${INFRA_BUCKET}/cloudformation/${RELEASE_HASH}/deploy_env.yaml"
          echo "Downloading CloudFormation template from $S3_TEMPLATE_URL"
          aws s3 cp "$S3_TEMPLATE_URL" "$CF_TEMPLATE_FILE"

          echo "Deploying environment: $ENV_ID in account ${{ steps.get_release_config.outputs.environment_aws_account_id }}"

          aws cloudformation deploy \
            --template-file "$CF_TEMPLATE_FILE" \
            --stack-name "$STACK_NAME" \
            --parameter-overrides \
              EnvId="$ENV_ID" \
              ProjectId="$PROJECT_ID" \
              InfraArtifactsBucket="$INFRA_BUCKET" \
              InfraReleaseHash="$RELEASE_HASH"\
              ReleaseTarget="${{ steps.get_release_config.outputs.target_ref }}" \
              DomainName="${{ steps.get_release_config.outputs.domain_name }}" \
              HostedZoneId="${{ steps.get_release_config.outputs.hosted_zone_id }}" \
              ClientArtifactS3Key="${{ steps.get_release_config.outputs.client_s3_key }}" \
              ServerArtifactS3Key="${{ steps.get_release_config.outputs.server_s3_key }}" \
            --no-fail-on-empty-changeset \
            --capabilities CAPABILITY_NAMED_IAM
