name: Publish Build Artifacts

on:
  workflow_call: {}
  push:
    branches:
      - main
      - "release/*"
    tags:
      - "*"
    paths:
      - ".github/workflows/publish_build_artifacts.yaml"
      - "infra/**"
      - "client/**"
      - "server/**"
  workflow_run:
    workflows:
      - Artifact Account Setup
    types:
      - completed

permissions:
  id-token: write
  contents: read

jobs:
  config:
    name: Read workflow configuration
    runs-on: ubuntu-latest
    outputs:
      artifact_account_id: ${{ steps.read_artifact_account_id.outputs.artifact_account_id }}
      infra_bucket_name: ${{ steps.read_artifact_stack_config.outputs.infra_bucket_name }}
    steps:
      - uses: actions/checkout@v4
      - uses: mikefarah/yq@v4.44.3

      - name: Read Artifact Account ID
        id: read_artifact_account_id
        run: |
          ARTIFACT_ACCOUNT_ID=$(yq eval '.aws_account_id' cd/artifact-account/config.yaml)
          echo "artifact_account_id=$ARTIFACT_ACCOUNT_ID" >> $GITHUB_OUTPUT

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ steps.read_artifact_account_id.outputs.artifact_account_id }}:role/deploy

      - name: Read Configuration from Artifact Account Stack
        id: read_artifact_stack_config
        run: |
          PROJECT_ID=$(yq e '.[] | .projectName' ./cd/environments.yaml | head -n1)
          artifacts_stack_name="artifact-account-setup-${PROJECT_ID}"

          infra_bucket_name=$(aws cloudformation describe-stacks \
            --stack-name "$artifacts_stack_name" \
            --query "Stacks[0].Outputs[?OutputKey=='InfraArtifactsBucket'].OutputValue" \
            --output text)

          echo "infra_bucket_name=$infra_bucket_name" >> $GITHUB_OUTPUT

  client:
    name: Build and Publish Client Artifact
    needs: [config]
    runs-on: ubuntu-latest
    outputs:
      client_s3_key: ${{ steps.upload.outputs.client_s3_key }}
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ needs.config.outputs.artifact_account_id }}:role/deploy

      - name: Install dependencies & build
        working-directory: client
        run: |
          npm install --frozen-lockfile
          DISABLE_ESLINT_PLUGIN=true npm run build

      - name: Compute Release Hash
        id: release_hash
        run: |
          # Use a hash of the build for release identity
          RELEASE_HASH=$(find ./build -type f -exec sha256sum {} + | sort | sha256sum | cut -f1 -d' ')
          echo "release_hash=$RELEASE_HASH" >> $GITHUB_OUTPUT

      - name: Upload static build to S3 and push to SSM
        id: upload
        working-directory: client
        run: |
          ARTIFACT_BUCKET=${{ needs.config.outputs.infra_bucket_name }}
          RELEASE_HASH=${{ steps.release_hash.outputs.release_hash }}
          ARTIFACT_KEY="client/${RELEASE_HASH}/build.zip"

          zip -r build.zip build
          aws s3 cp build.zip s3://$ARTIFACT_BUCKET/$ARTIFACT_KEY

          # Push S3 path to SSM
          aws ssm put-parameter \
            --name "/build-artifact/${PROJECT_ID}/client/${GITHUB_REF_NAME}" \
            --value "$ARTIFACT_KEY" \
            --type String \
            --overwrite

          echo "client_s3_key=$ARTIFACT_KEY" >> $GITHUB_OUTPUT

  server:
    name: Build and Publish Server Lambda Artifact
    needs: [config, client]
    runs-on: ubuntu-latest
    outputs:
      server_s3_key: ${{ steps.upload.outputs.server_s3_key }}
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ needs.config.outputs.artifact_account_id }}:role/deploy

      - name: Install dependencies & package
        working-directory: server
        run: |
          npm install --frozen-lockfile
          zip -r server-lambda.zip * -x 'node_modules/.cache/*'

      - name: Upload Lambda zip to S3 and push to SSM
        id: upload
        working-directory: server
        run: |
          ARTIFACT_BUCKET=${{ needs.config.outputs.infra_bucket_name }}
          RELEASE_HASH=${{ steps.client.outputs.release_hash }}
          ARTIFACT_KEY="server/${RELEASE_HASH}/server-lambda.zip"

          aws s3 cp server-lambda.zip s3://$ARTIFACT_BUCKET/$ARTIFACT_KEY

          # Push S3 path to SSM
          aws ssm put-parameter \
            --name "/build-artifact/${PROJECT_ID}/server/${GITHUB_REF_NAME}" \
            --value "$ARTIFACT_KEY" \
            --type String \
            --overwrite

          echo "server_s3_key=$ARTIFACT_KEY" >> $GITHUB_OUTPUT

  infra:
    name: Publish Infra Artifacts
    needs: [config, client, server]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ needs.config.outputs.artifact_account_id }}:role/deploy

      - name: Upload CloudFormation Templates to S3
        env:
          CF_DIR: "cloudformation"
        run: |
          REF_NAME=$(echo "$GITHUB_REF_NAME" | tr '/' '-')
          PROJECT_ID=$(yq e '.[] | .projectName' ./cd/environments.yaml | head -n1)
          RELEASE_HASH=$(find ./infra/ -type f -exec sha256sum {} + | sort | sha256sum | cut -f1 -d ' ')
          BUCKET_NAME="${{ needs.config.outputs.infra_bucket_name }}"

          cd infra
          make publish bucket_name="$BUCKET_NAME" artifact_hash="$RELEASE_HASH" CF_DIR="$CF_DIR"

          # Push infra release hash to SSM
          aws ssm put-parameter \
            --name "/build-artifact/${PROJECT_ID}/infra/${GITHUB_REF_NAME}" \
            --value "$RELEASE_HASH" \
            --type String \
            --overwrite
